.footer {
    /* border: 1px solid black; */
    background: url('../src/assets/footer-back.svg');
    background-repeat: no-repeat;
    background-position: bottom right;
    width: 100%;
}

.footer .container .footer-inner .footer-up {
    background-color: #f6f6f6;
    display: flex;
    padding: 6.3rem 0 6.3rem 2rem;
    justify-content: space-around;
    gap: 70px;
    width: 100%;
}

.footer-up .footer-social {
    display: flex;
    flex-direction: column;
}

.footer-up h3 {
    margin: 0;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}

.footer-social .social-info {
    color: #707070;
    font-size: 14px;
    line-height: 1.6rem;
}

.social-info .media-name {
    font-weight: 600;
}

.footer-social .social-buttons {
    display: flex;
    gap: 20px;
}

.social-buttons button {
    background: #fff;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.social-buttons button .social-icons {
    font-size: 30px;
    transition: all 0.3s ease-in-out;
}

.social-buttons button:hover {
    background: #000;
}

.social-buttons button:hover .social-icons {
    color: #fff;
}


.footer-up .footer-subscription {
    display: flex;
    flex-direction: column;

}

.footer-subscription .subscription-info {
    color: #707070;
    line-height: 1.6rem;
    font-size: 15px;
}

.footer-subscription .subscription-form .email-input {
    position: relative;
    border-radius: 50px;
    height: 60px;
    background-color: #fff;
    width: 285px;
}

.email-input input {
    height: 60px;
    width: 80%;
    border-radius: 50px;
    border: none;
    outline: none;
    padding: 0 30px;
    background: none;
}

.email-input .click-email {
    position: absolute;
    top: 2px;
    right: 12px;
    height: 100%;
    border-radius: 50px;
    border: none;
    background: none;
}

.click-email .submit-arrow {
    font-size: 30px;
}

.footer-up .footer-apps {
    display: flex;
    flex-direction: column;
    flex-basis: calc(100% /3);
}

.footer-apps .apps-info {
    color: #707070;
    font-size: 15px;
}

.footer-apps .apps-button {
    display: flex;
    gap: 20px;
}

.apps-button button {
    width: 100px;
    height: 50px;
    border: none;
    cursor: pointer;
}

.apps-button button .apps-icons {
    font-size: 26px;
}

/* footer up end */

/* footer-bottom */
.footer-inner .footer-bottom {
    padding: 50px 0;
}

.footer-inner .footer-bottom .bottom-first {
    display: flex;
    gap: 20px;
}

.bottom-first .bottom-first-left {
    display: flex;
    justify-content: space-between;
    flex-basis: 80%;
}

.bottom-first .bottom-logo-info {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
}

.bottom-first .bottom-logo-info img {
    width: 300px;
}

.bottom-logo-info .customer-services {
    display: flex;
    flex-direction: column;
}


.customer-services .customer-phone,
.customer-email {
    display: flex;
    align-items: center;
    gap: 10px;
}

.bottom-first .institutional ul,
.fast-access ul,
.shopping ul,
.help ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style-type: none;
}

.bottom-first li {
    padding: 6px 0;
    cursor: pointer;
    position: relative;
    color: #707070;
    font-size: 12px;
}

.bottom-first li::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    transition: all 0.3s ease-in-out;
}

.bottom-first li:hover::before {
    width: 100%;
    border-bottom: 1px solid black;
    transition: all 0.3s ease-in-out;
}

/* footer responsive Mobile and Tablet */

@media screen and (max-width: 990px) {
    .footer .container .footer-inner .footer-up {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-up .footer-social,
    .footer-apps {
        width: 100%;
        align-items: center;
    }

    .footer-up .footer-subscription {
        width: 100%;
    }

    .footer-subscription .subscription-form .email-input {
        width: 100%;
    }

 
    .footer-inner .footer-bottom .bottom-first {
        flex-direction: column;
    }

    .bottom-first .bottom-logo-info {
        align-items: center;
    }

    .bottom-first .bottom-logo-info img {
        width: 100%;
    }

    .bottom-logo-info .customer-services {
        align-items: center;
    }

    .bottom-first .institutional ul,
    .fast-access ul,
    .shopping ul,
    .help ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bottom-first li {
        font-size: 15px;
    }
}

/* Footer css end */