.main .container .main-inner .main-shop {
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    gap: 30px;
    width: 100%;
}

.main-shop .clothes-cards {
    overflow: hidden;
    width: 100%;
}

.main-shop .clothes-cards:hover .banner .banner-img img {
    transform: scale(1.1);
    transition: all 1.2s ease;
}

.banner {
    width: 100%;
}

.banner .banner-img img {
    transform: scale(1);
    transition: all 1.2s ease;
}

.main-shop .clothes-cards .banner img {
    width: 100%;
}

/* Tablet mode of cards in main */
@media screen and (max-width:1220px) {
    .main .container .main-inner .main-shop {
        grid-template-columns: repeat(auto-fill, minmax(45%, 2fr));
        gap: 30px;
        transition: all 0.5s ease;
    }
}

/* Mobile mode of cards in main */
@media screen and (max-width:770px) {
    .main .container .main-inner .main-shop {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        gap: 30px;
        transition: all 0.5s ease;
    }
}